<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/form.css">
  <script src="/js/app.js" defer></script>


  <title>Restaurant</title>
</head>

<body>
  {{>header}}
  <div class="wrapper center contact-form">
    <h1>Contact us</h1>
    <form action="" class="form">
      <input type="text" placeholder="Your Email" class="form-input">
      <input type="text" class="form-input" placeholder="Your Name">
      <textarea class="form-input textarea" cols="30" rows="1000" placeholder="Message"></textarea>
      <button class="btn">Submit</button>
    </form>

  </div>

</body>

</html>