<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/app.js" defer></script>

  <title>Menu</title>
</head>

<body>
  {{>header}}
  <div class="wrapper center">
    <div class="menu">
      <div class="menu-title">
        <h1>Menu</h1>
      </div>
      <div class="menu-content">
        <div class="row">
          <div class="row-1-of-2">
            <h2>Our Main Course</h2>
          </div>
          <div class="row-1-of-2 second">
            <div class="col-1-of-2 child">
              <ul class="col-1-of-2-of-text">
                <li>
                  <div>
                    <p>Nasi goreng seafood</p>
                  </div>
                  <div>
                    <p>$199.99</p>
                  </div>
                </li>

                <li>
                  <div>
                    <p>bread & butter</p>
                  </div>
                  <div>
                    <p>$10.00</p>
                  </div>
                </li>

                <li>
                  <div>
                    <p>Grilled salmon with Dill Sauce</p>
                  </div>
                  <div>
                    <p>$59.00</p>
                  </div>
                </li>

                <li>
                  <div>
                    <p>Roast Beef with Vegatables</p>
                  </div>
                  <div>
                    <p>$89.00</p>
                  </div>
                </li>

                <li>
                  <div>
                    <p>Chicken and Mushroom Pie</p>
                  </div>
                  <div>
                    <p>$39.00</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row sub-menu">
          <div class="col-1-of-2">
            <div class="row-1-of-2">
              <h2>Healthy Bowls</h2>
            </div>
            <div class="row-1-of-2-second">
              <ul class="col-1-of-2-of-text">
                <li>
                  <p>Salad</p>
                  <p>$2.99</p>
                </li>
                <li>
                  <p>Salmon Salad</p>
                  <p>$5.99</p>
                </li>
                <li>
                  <p>Salad</p>
                  <p>$2.99</p>
                </li>
                <li>
                  <p>Salad</p>
                  <p>$2.99</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-1-of-2">
            <div class="row-1-of-2">
              <h2>Small plates</h2>
            </div>
            <div class="row-1-of-2-second">
              <ul class="col-1-of-2-of-text">
                <li>
                  <p>Salad</p>
                  <p>$2.99</p>
                </li>
                <li>
                  <p>Salad</p>
                  <p>$2.99</p>
                </li>
                <li>
                  <p>Salad</p>
                  <p>$2.99</p>
                </li>
                <li>
                  <p>Salad</p>
                  <p>$2.99</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row-1-of-2">
            <h2>Desserts</h2>
          </div>
          <div class="row-1-of-2 second">
            <div class="col-1-of-2 child">
              <ul class="col-1-of-2-of-text">
                <li>
                  <div>
                    <p>Apple Pie</p>
                  </div>
                  <div>
                    <p>$199.99</p>
                  </div>
                </li>

                <li>
                  <div>
                    <p>Apple Pie</p>
                  </div>
                  <div>
                    <p>$10.00</p>
                  </div>
                </li>

                <li>
                  <div>
                    <p>Apple Pie</p>
                  </div>
                  <div>
                    <p>$59.00</p>
                  </div>
                </li>

                <li>
                  <div>
                    <p>Apple Pie</p>
                  </div>
                  <div>
                    <p>$89.00</p>
                  </div>
                </li>

                <li>
                  <div>
                    <p>Apple Pie</p>
                  </div>
                  <div>
                    <p>$39.00</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>  
  </div>

</body>

</html>