<footer class="footer">
  <div class="container-footer">
    <div class="row">
      <div class="col">
        <h3 class="">Contact Us</h3>
        <p>Contact us for any questions about menu options, special requests or table availability.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-1-of-3">
        <h3>Opening hours</h3>
        <p>Lunch is from 11:45 to 16:00 (last order is 13:30)</p>

        <p> Dinner is from 18:30 to late (last order is 21:30)</p>

        <p> from Thursday to Saturday (Lunch)</p>
        <p>
          from Monday to Sunday (Dinner)
        </p>
      </div>
      <div class="col-1-of-3">
        <img src="http://lavilla-restaurant.com.vn/wp-content/uploads/2019/02/la-villa-trip-advisor-black.png"
          alt="tripadvisor" loading="lazy">
      </div>
      <div class="col-1-of-3">
        <h3>Visit us</h3>
        <p>
          14 Ngo Quang Huy, Thao Dien Ward, District 2, HCMC
        </p>
        <p>
          T: +84 28 3898 2082 | T: +84 9 0771 9879
        </p>
        <p>
          E: reservation@lavilla-restaurant.com.vn
        </p>

      </div>
    </div>

    <div class="copyright">
      Copyright 2015 La villa. Developed by Innovo. All rights reserved
    </div>
  </div>

</footer>