<div class="wrapper center contact-form">
  <h1>Contact us</h1>
  <form action="" class="form">
    <input type="text" placeholder="Your Email" class="form-input">
    <input type="text" class="form-input" placeholder="Your Name">
    <textarea class="form-input textarea" cols="30" rows="1000" placeholder="Message"></textarea>
    <button class="btn">Submit</button>
  </form>
</div>