<header>
  <div class="wrapper">
    <div class="header-logo">
      <div class=" logo">
        <h1><i class="fas fa-utensils"></i>Restaurant</h1>
      </div>
      <div class="contact">
        <p>Call us on 08 200 400</p>
      </div>
      <div class="hamburger">
        <span class="fas fa-bars">
        </span>
      </div>
    </div>

    <div class="nav sidebar">
      <ul class="nav-links">
        <li class="nav-link">
          <a href="/">Home</a>
        </li>
        <li class="nav-link">
          <a href="/about">About us</a>
        </li>
        <li class="nav-link">
          <a href="/menu">Menu</a>
        </li>
        <li class="nav-link">
          <a href="/contact">Contact us</a>
        </li>
        <li class="nav-link">
          <a href="/booking">Book a Table</a>
        </li>
      </ul>
    </div>

  </div>
  <nav class="sidebar1">
    <ul class="">
      <li class="">
        <a href="/">Home</a>
      </li>
      <li class="">
        <a href="/about">About us</a>
      </li>
      <li class="">
        <a href="/menu">Menu</a>
      </li>
      <li class="">
        <a href="/contact">Contact us</a>
      </li>
      <li class="">
        <a href="/booking">Book a Table</a>
      </li>
    </ul>
  </nav>
</header>