.menu {
	width: 60%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 1.2rem;
	color: rgba(184, 184, 184, 0.9);
	border-radius: 0.5rem;
	padding: 0.5rem;
	animation-name: moveBottomUp;
	animation-duration: 1s;
	overflow: auto;
}

.col-1-of-2-of-text li {
	display: grid;
	grid-template-columns: 50% 50%;
}

.row:not(:last-child) {
	margin-bottom: 20px;
}

.row.sub-menu {
	display: grid;
	grid-template-columns: 50% 50%;
}

p {
	font-size: 1.4rem;
}

h2 {
	color: rgb(2, 159, 173);
}

@keyframes moveBottomUp {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (max-width: 560px) {
	.menu {
		width: 90%;
		margin: 0 auto;
	}
	.menu h1 {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 1.2rem;
	}
	.row.sub-menu {
		grid-template-columns: 100%;
	}
	p {
		font-size: 1rem;
	}
}
