@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	/* padding: 10px; */
}

main {
	position: relative;
	width: 90%;
	margin: 0 auto;
}

.header-container {
	background-image: linear-gradient(
			45deg,
			rgba(29, 29, 29, 0.3),
			rgba(29, 29, 29, 0.5),
			rgba(29, 29, 29, 0.7)
		),
		url(../img/andrew-seaman-large.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
	position: relative;
}

.container {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}

.header-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.2rem;
}

.header-text-box {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
}

.header-text-box h1 {
	color: #fff;
}

.logo img {
	width: 40%;
	height: 40%;
	max-width: 100%;
}

.contact p {
	color: #fff;
	font-size: 28px;
	font-weight: 700;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.modal {
	width: 100%;
	height: 95vh;
	position: absolute;
	z-index: 1000;
}

.navbar {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	margin: 0 auto;
	z-index: 19;
}

.nav-links {
	list-style-type: none;
	display: flex;
	align-items: center;
}

.nav-link {
	text-align: center;
	display: inline-block;
	padding: 1rem;
}

.nav-link a {
	color: #fff;
	text-decoration: none;
	font-size: 1.2rem;
	letter-spacing: 1.2px;
}

.nav-link:hover {
	border-bottom: 1px solid #fff;
}

.mobile-navbar {
	position: fixed;
	z-index: 100;
	background-color: #fff;
	width: 250px;
	height: 100%;
	right: -250px;
	top: 0;
	transition: right 0.4s ease;
	background-color: #000;
}

.mobile-navbar.show {
	right: 0;
}

/* About Section */
.about-section,
.meet-section {
	display: grid;
	grid-template-columns: 50% 50%;
	text-align: center;
	animation-name: moveBottomUp;
	animation-duration: 1s;
	margin-bottom: 100px;
	margin-top: 50px;
	position: relative;
}

.about-section__text,
.meet-section__text {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.about-section__img img,
.meet-section__img img {
	max-width: 600px;
	width: 100%;
	height: auto;
}

.about-section__text p,
.meet-section__text p {
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	line-height: 1.5rem;
}

.slider-section {
	/* display: block; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 100px;
}

.slider-section-box {
	width: 90%;
	margin: 0 auto;
}

.slider {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.slider img {
	max-width: 400px;
	/* width: 100%; */
	height: auto;
	margin: 0 auto;
	outline: none;
}

nav ul {
	/* background-color: #2d99a4; */
	height: 100%;
	width: 100%;
	list-style: none;
}

nav ul li {
	line-height: 60px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	display: block;
	border-left: 3px solid transparent;
	padding-left: 50px;
}

nav ul li a:hover {
	text-decoration: none;
	display: block;
	background-color: #fff;
	border-left-color: #2d99a4;
}

.content {
	position: absolute;
	top: 250px;
	left: 20%;
}

.text-primary {
	color: #fff;
	font-size: 48px;
	background: #0e727b;
	padding: 1.2rem 0.5rem;
	text-align: center;
	animation-name: moveBottomUp;
	animation-duration: 0.5s;
}

.text-secondary {
	display: inline-block;
	/* color: #2d99a4; */
	background: #fff;
	font-size: 30px;
	margin-top: 10px;
	padding: 1rem;
	animation-name: moveBottomUp;
	animation-duration: 0.9s;
}

.text-secondary a {
	text-decoration: none;
	color: #0e727b;
}

.text-secondary.sub {
	background-color: #0e727b;
	margin-top: 10px;
	animation-name: moveBottomUp;
	animation-duration: 1.2s;
}

.text-secondary.sub a {
	color: #fff;
}

.col-1-of-3 {
	margin-top: 50px;
}
.col-1-of-3 img {
	width: 120px;
	height: 100px;
}

.col {
	margin-top: 100px;
}

.col h3 {
	font-size: 2.5rem;
}

/* Footer */
.footer {
	height: 900px;
	background-color: #000;
	margin-top: 500px;
	/* width: 100%; */
}

.footer .row {
	color: #fff;
	height: 250px;
	text-align: center;
	/* padding: 10px; */
}

.container-footer {
	display: grid;
	/* grid-template-columns: repeat(3, 33%); */
	grid-template-rows: 300px 300px 300px;
	text-align: center;
	color: #fff;
	grid-template-areas: 'row-1' 'row-2' 'row-3';
	/* justify-items: center; */
	align-items: center;
}

.row-1 {
	grid-area: row-1;
}

.row-2 {
	grid-area: row-2;
	display: grid;
	grid-template-columns: repeat(3, 33%);
}

.row-3 {
	grid-area: row-3;
}

.copyright {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 2rem 0;
}

.center {
	text-align: center;
}

.hamburger {
	display: none;
}

.paragraph {
	font-size: 1.5rem;
}

@keyframes moveBottomUp {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (max-width: 1024px) {
	.text-primary {
		font-size: 2.5rem;
	}

	.nav-link a {
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 768px) {
	.header .container {
		background-image: linear-gradient(
				45deg,
				rgba(29, 29, 29, 0.3),
				rgba(29, 29, 29, 0.5),
				rgba(29, 29, 29, 0.7)
			),
			url(../img/andrew-seaman.jpg);
	}

	.content {
		top: 250px;
		left: 5%;
	}

	.footer {
		min-height: 1500px;
	}

	.container-footer {
		display: grid;
		grid-template-rows: 300px 900px 300px;
		/* text-align: center; */
		color: #fff;
		grid-template-areas: 'row-1' 'row-2' 'row-3';
		align-items: center;
	}

	.row-2 {
		grid-template-columns: 100%;
	}
}

@media screen and (max-width: 560px) {
	.about-section,
	.meet-section {
		grid-template-columns: 100%;
	}

	.meet-section__text-box {
		order: 1;
	}

	.meet-section__img-box {
		order: 2;
	}

	.content {
		top: 100px;
		left: 50%;
		transform: translateX(-50%);
	}

	.text-primary {
		font-size: 1.5rem;
	}
	.text-secondary.sub {
		font-size: 1.5rem;
	}

	.nav,
	.contact {
		display: none;
	}
	.logo {
		position: relative;
		left: 15px;
	}

	.hamburger {
		display: block;
		font-size: 1.6rem;
		position: absolute;
		right: 0;
		transition: right 0.4s ease;
		-webkit-transition: right 0.4s ease;
		-moz-transition: right 0.4s ease;
		-o-transition: right 0.4s ease;
		height: 45px;
		width: 45px;
		text-align: center;
		cursor: pointer;
	}

	.hamburger span {
		color: #fff;
		line-height: 45px;
	}

	.hamburger.click {
		right: 250px;
		z-index: 1000;
	}

	.hamburger.click span:before {
		content: '\f00d';
		color: #000;
	}

	.nav-link a {
		font-size: 0.9rem;
	}

	.grid-row {
		grid-template-columns: 100%;
		grid-template-rows: repeat(3, 200px);
	}
}
