<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/about.css">
  <title>Document</title>
</head>

<body>
  {{>header}}
  <main>
    <div class="wrapper about center">
      <h1>About us</h1>
      <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget massa ac arcu
        dignissim dignissim at vel
        eros.</p>
      <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget massa ac arcu
        dignissim dignissim at vel
        eros.
      </p>
      <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget massa ac arcu
        dignissim dignissim at vel
        eros. Sed turpis magna, varius eget metus et, volutpat venenatis mi. Fusce non nulla porttitor, sagittis metus
        id, volutpat sem. Nunc vulputate at felis non euismod. Vestibulum consequat mattis nibh eu cursus. Donec
        pellentesque, libero ut consequat ullamcorper, felis lacus fermentum nibh, ac rhoncus enim magna vitae felis.
        Pellentesque rutrum aliquam ante at pretium. Mauris porttitor iaculis lacus, eu sodales felis pellentesque et.
        Donec bibendum mauris at velit maximus, laoreet luctus risus hendrerit. Nulla tempus ipsum sapien, quis
        elementum odio porttitor id. Ut ultrices, neque at egestas tincidunt, leo dui porta est, in mattis quam arcu
        quis dolor. Nulla nibh dolor, aliquam in magna eget, ornare viverra leo. Nam dapibus, felis et posuere
        dignissim, risus quam aliquam nisl, non vehicula lacus mauris eu libero. Vestibulum ante ipsum primis in
        faucibus orci luctus et ultrices posuere cubilia curae;
      </p>
      <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget massa ac arcu
        dignissim dignissim at vel
        eros. Sed turpis magna, varius eget metus et, volutpat venenatis mi. Fusce non nulla porttitor, sagittis metus
        id, volutpat sem. Nunc vulputate at felis non euismod. Vestibulum consequat mattis nibh eu cursus. Donec
        pellentesque, libero ut consequat ullamcorper, felis lacus fermentum nibh, ac rhoncus enim magna vitae felis.
        Pellentesque rutrum aliquam ante at pretium. Mauris porttitor iaculis lacus, eu sodales felis pellentesque et.
        Donec bibendum mauris at velit maximus, laoreet luctus risus hendrerit. Nulla tempus ipsum sapien, quis
        elementum odio porttitor id. Ut ultrices, neque at egestas tincidunt, leo dui porta est, in mattis quam arcu
        quis dolor. Nulla nibh dolor, aliquam in magna eget, ornare viverra leo. Nam dapibus, felis et posuere
        dignissim, risus quam aliquam nisl, non vehicula lacus mauris eu libero. Vestibulum ante ipsum primis in
        faucibus orci luctus et ultrices posuere cubilia curae;
      </p>

      <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget massa ac arcu
        dignissim dignissim at vel
        eros. Sed turpis magna, varius eget metus et, volutpat venenatis mi. Fusce non nulla porttitor, sagittis metus
        id, volutpat sem. Nunc vulputate at felis non euismod. Vestibulum consequat mattis nibh eu cursus. Donec
        pellentesque, libero ut consequat ullamcorper, felis lacus fermentum nibh, ac rhoncus enim magna vitae felis.
        Pellentesque rutrum aliquam ante at pretium. Mauris porttitor iaculis lacus, eu sodales felis pellentesque et.
        Donec bibendum mauris at velit maximus, laoreet luctus risus hendrerit. Nulla tempus ipsum sapien, quis
        elementum odio porttitor id. Ut ultrices, neque at egestas tincidunt, leo dui porta est, in mattis quam arcu
        quis dolor. Nulla nibh dolor, aliquam in magna eget, ornare viverra leo. Nam dapibus, felis et posuere
        dignissim, risus quam aliquam nisl, non vehicula lacus mauris eu libero. Vestibulum ante ipsum primis in
        faucibus orci luctus et ultrices posuere cubilia curae;

        Nam ut leo ac mauris tincidunt placerat. Duis quis porttitor ligula. Nullam porta eros ac purus accumsan, in
        iaculis ipsum accumsan. Curabitur bibendum luctus fringilla. Curabitur faucibus purus sed consectetur congue.
        Cras convallis dui odio, in ornare enim tempus sit amet. Aliquam eu pretium augue, et accumsan eros. In dui
        ligula, maximus id tellus id, imperdiet dictum orci. Curabitur tellus dolor, faucibus quis nunc in, blandit
        scelerisque mi. Proin congue eros vel tristique consequat. Sed nec elit et massa pretium congue.
      </p>
    </div>
    </div>
  </main>
</body>

</html>