<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/app.js" defer></script>
  <title>Restaurant</title>
</head>

<body>
  {{>header}}
  <main>
    <div class="wrapper index">
      <div class="content">
        <p class="text-primary">Try something new</p>
        <div>
          <p class="text-secondary">
            <a href="/booking">Book a Table</a>
          </p>
        </div>

        <div>
          <p class="text-secondary sub">
            <a href="/menu"> View the menu</a>
          </p>
        </div>
      </div>
    </div>
  </main>
  <!-- <footer></footer> -->

</body>

</html>